@import "./base/reset.scss";
@import "./base/fonts.scss";
@import "./globals/variables";
@import "./globals/mixins.scss";
@import "./templates/download_btn.scss";
@import "./templates/extension_btn.scss";
@import "./templates/generate_btn.scss";
@import "./vendors/shoelace.scss";

body {
  font-family: "Montserrat", sans-serif;
  background: $bg-color;
  color: $dark;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  margin: 30px 15px;
  padding: 20px 20px 21px;
}

.note {
  background: $bg-note;
  border-radius: $small-border-radius;
  padding: 10px;
  font-weight: 500;
}

.qr {
  display: flex;
  flex-direction: column;
  border-radius: $big-border-radius;
  background: $white;
  width: 800px;

  &__types {
    display: flex;
    justify-content: space-between;

    .type {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      @include button(8px 5px, 19px, 0.3px solid, $white, $dark);

      &:hover {
        box-shadow: 0 0.55em 0.5em -0.4em $main-color;
        transform: translateY(-0.25em);
      }
    }
    
    .type-active {
      @include button(8px 5px, 19px, 0.3px solid);
      box-shadow: 0 0.55em 0.5em -0.4em $main-color;
      transform: translateY(-0.25em);
    }

    .scanner {
      background: #041a57;
      color: $white;
    }
  }

  &__sizes {
    margin-top: 15px;
    @include select();
  }

  #remember {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
  }

  #qr__data-input {
    margin-top: 8px;

    .column {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 25%
    }

    .data-input {
      @include input();
    }

    .form {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 8px;
    }

    #url {
      &__input-column {
        flex-grow: 2;
      }

      &__generate-column {
        flex-grow: 1;
      }
    }

    #crypto {
      &__coin {
        @include select();
      }
    }

    #wifi {
      &__encryption {
        @include select();
      }
    }

    #location, #whatsapp{
      .column {
        width: 33%;
      }
    }
  }

  #file-name {
    @include input();
    margin-top: 10px;
  }

  .setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    &__colors {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      min-height: 200px;

      .setting__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
      }
    }

    &__extension {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 200px;
    }
  }

  button {  
    transition: 0.25s;
    cursor: pointer;
  }

  #embedded {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0 10px 0;

    #data {
      font-weight: 500;
      font-size: 19px;
      word-break: break-all;
    }

    .embedded {
      color: rgb(102, 101, 101);
      font-weight: 400;
    }
  }

  &__scanner-content {
    display: none;
    margin-top: 25px;

    #qrForm {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .note {
      margin-bottom: 10px;
      word-break: break-all;
    }

    .error {
      color: #e94220;
    }

    #fileInput {
      color: $white;
      padding: 5px;
      background: $main-color;
      border-radius: $medium-border-radius;
      cursor: pointer;

      &::file-selector-button {
        margin-right: 20px;
        border: none;
        background: #ffffff;
        padding: 10px 20px;
        border-radius: $medium-border-radius;
        cursor: pointer;
      }
    }

    .custom-file-label {
      display: none;
    }

    .drop-container.drag-active {
      background: #a89d9d;
      border-color: #111;
      color: $white;
    }
    
    .drop-container.drag-active .drop-title {
      color: #ffffff;
    }

    .drop-container {
      position: relative;
      display: flex;
      gap: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 200px;
      padding: 20px;
      border-radius: 10px;
      border: 2px dashed #555;
      transition: all .2s ease-in-out;

      &:hover {
        background: #f7f4f4;
        border-color: #111;
      }

      .drop-title {
        font-size: 20px;
        font-weight: bold;
      }
    }
    
    #read {
      @include button(15px 0, 22px, 0.3px solid);
      display: block;
      margin: auto;
      width: 100%;
      transition: all 0.3s ease;

      &:hover {
        background: transparent;
        border: 1px solid $main-color;
        color: $dark;
      }
    }
  }

  @media (max-width: $medium-screen) {
    .qr__types {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 7px;
      grid-auto-rows: minmax(10px, auto);
    }

    .scanner {
      grid-column: 1 / span 3;
    }
    
    .qr__sizes {
      margin-top: 20px;
    }

    #data {
      width: 100%;
    }

    #qr__data-input {
      .column {
        width: 100%;
      }

      .form {
        flex-wrap: wrap;
        flex-direction: column;
      }

      #event {
        input[type="date"] {
          width: 100%;
        }
      }

      #location, #whatsapp{
        .column {
          width: 100%;
        }
      }

    }
  }

  @media (max-width: $small-screen) {
    .qr {
      &__types {
        grid-template-columns: repeat(2, 1fr);
      }
      
      &__sizes {
        margin-top: 30px;
      }
    }

    .scanner {
      grid-column: 1 / span 2;
    }
  
    .setting {
      margin-top: 30px;
      flex-direction: column;
      gap: 10px;
  
      &__colors {
        order: 2;
        flex-direction: row;
        min-height: auto;
        width: 100%;
      }
  
      #qrcode {
        order: 1;
      }
  
      &__extension {
        order: 3;
        flex-direction: row;
        min-height: auto;
        width: 100%;
      }
    }

    .hidden-input {
      display: none; /* Hide the standard file input */
    }

    .custom-file-label { 
      display: block;
      color: $white;
      padding: 13px 25px;
      font-size: 20px;
      background: $main-color;
      border-radius: $medium-border-radius;
      cursor: pointer;
    }
  }

  @media (max-width: $extra-small-screen) {
    .container {
      margin: 30px 5px;
      padding: 20px 10px 21px;
      height: 100%;
    }
  }
}