$bg-color: #251E28;
$white: #fff;
$dark: #0f0f0f;
$main-color: #803BB6;
$bg-note: #efe2f5;
$big-border-radius: 20px;
$medium-border-radius: 10px;
$small-border-radius: 5px;
// for breakpoints
$medium-screen: 800px;
$small-screen: 585px;
$extra-small-screen: 450px;