@import "../base/fonts";
@import "../globals/variables";
@import "../globals/mixins";

.extension {
  font-size: 20px;
  font-family: "Jos  efin Sans", sans-serif;
  background: $white;
  border: 1px solid $dark;
  padding: 10px 30px;
  border-radius: $small-border-radius;
  box-shadow: 5px 5px 0 0 $dark;

  &:hover {
    box-shadow: -5px -5px 0 0 $dark;
    transform: scale(0.9);
  }
}

.extension-active {
  background: $main-color;
  box-shadow: -5px -5px 0 0 $dark;
  color: $white;

  &:hover {
    box-shadow: 5px 5px 0 0 $dark;
    transform: scale(0.9);
  }
}

@media (max-width: $extra-small-screen) {
  .extension {
    @include button(8px 21px, 16px,  $border: 1px solid $dark, $background: $white, $color: $dark);

    box-shadow: 2px 2px 0 0 $dark;

    &:hover {
      box-shadow: -2px -2px 0 0 $dark;
    }
  }
  .extension-active {
    @include button(8px 21px, 16px, 1px solid $dark);
    box-shadow: -2px -2px 0 0 $dark;

    &:hover {
      box-shadow: 2px 2px 0 0 $dark;
    }
  }
}